<div>
  <input
    [(ngModel)]="newAppointmentTitle"
    placeholder="Appointment description"
  />
  <input
    [(ngModel)]="newAppointmentDate"
    type="date"
    placeholder="Appointment date"
  />
  <button (click)="addAppointment()">Add</button>
</div>

<ul>
  <!-- for loop to display each appointment in the array appointments -->
  <li *ngFor="let appointment of appointments; index as i">
    {{ appointment.title }}
    {{ appointment.date }}
    <button (click)="deleteAppointment(i)">Delete</button>
  </li>
</ul>
